<h1>Stupid Coaching</h1>

<div class= "card">
  <h2> <%=@question%> </h2>
  <h3 style= "font-style: italic;">~You</h3>
</div>

<div class= "card card-answer">
  <h2><%=@answer%></h2>
  <h3 style= "font-style: italic;">~Your Coach</h3>
</div>


<%= link_to "Ask again", ask_path %>
